<h1>Kalkulator</h1>
<input id="number1" type="number" />
<input id="number2" type="number" />
<button onclick="send('add')">+</button>
<button onclick="send('sub')">-</button>
<h3>output:</h3>
<h3 id="output"></h3>
<script>
  function send(type) {
    fetch("/" + type, {
      method: "POST",
      headers: {
        "Content-Type": "raw"
      },
      body:
        parseInt(document.getElementById("number1").value) +
        "," +
        parseInt(document.getElementById("number2").value)
    })
      .then(response => response.json())
      .then(
        data => (document.getElementById("output").innerHTML = data.answer)
      );
  }
</script>
