<head>
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="card d-flex m-5 p-5 justify-content-center">
    <div class="form-group">
      <label for="code">Kode</label>
      <textarea class="form-control" id="code" rows="8">
#include <iostream>

using namespace std;

int main() {
cout << "Hello World" << endl;
}
    </textarea
      >
    </div>
    <div>
      <button onclick="submit()" class="btn btn-primary">Send inn</button>
    </div>
    <br />
    <div>
      <div
        id="spinner"
        style="visibility: hidden;"
        class="spinner-border text-primary"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div class="form-group">
      <label for="output">Output</label>
      <textarea class="form-control" disabled id="output" rows="3"></textarea>
    </div>
  </div>
  <script>
    function submit() {
      console.log(document.getElementById("code").value);
      document.getElementById("spinner").style.visibility = "visible";
      let postdata = JSON.stringify({
        code: document.getElementById("code").value
      });
      console.log(postdata);
      fetch("/", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: postdata
      })
        .then(response => {
          console.log(response);
          return response.json();
        })
        .then(data => {
          document.getElementById("spinner").style.visibility = "hidden";
          document.getElementById("output").innerHTML = data.output;
          console.log(data.output);
        });
    }
  </script>
</body>
