body { background-color: #FAFDE8; color: #2B2B2B; font-family: "Playfair Display", serif; margin: 0; padding: 0; }

h1, h2, h3, h4, h5, h6 { font-family: "Playfair Display", serif; font-weight: 700; }

pre, code, kbd { font-family: "Source Code Pro"; background-color: #A5EFD2; }
@media (min-width: 600px) { pre, code, kbd { -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }
  pre, code, kbd { white-space: pre-wrap; word-wrap: break-word; overflow: auto; } }

.header { background-color: #36EFAC; }
.header h1 { margin: 0; padding: 10px; }
.header a, .header a:visited { color: #2B2B2B; text-decoration: none; }
.header a:hover { text-decoration: underline; }

.content { font-size: 22px; }
.content .article { padding: 15px 20%; }
@media (max-width: 600px) { .content .article { padding: 15px 5%; } }
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { margin: 30px 0 5px 0; }
.content p { margin: 0 0 15px 0; line-height: 34px; }
.content a { color: #2B2B2B; }

.posts { padding: 15px 10%; margin: auto; width: 40%; }
.posts a, .posts a:visited { color: #2B2B2B; text-decoration: none; }
.posts a:hover { text-decoration: underline; }
@media (max-width: 600px) { .posts { padding: 15px 5%; margin: 0; width: 90%; } }

.highlight { background-color: #A5EFD2; font-size: 18px; padding: 5px 10px; }
